// Helpers (Classes & placeholders helpers)
// ----------------------------------------

@import '../vendors/utilities';

// Strict responsive images
.img-responsive-strict {
  height: auto;
  width: 100%;
}

// Bootstrap col without padding in x.
.row-no-padding {
  > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

/** Containers **/

// Table center in x,y
.container-xy {
  @include center-table();
}

// Table cell center in x,y
.container-xy-content {
  @include center-table-cell();
}

// Absolute 100% width and height
.container-abs {
  position: absolute;
  @include square(100%);
}

// Absolute footer align in bottom
.footer-abs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.flex-middle {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  box-align: center;
  align-items: center;
  -webkit-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

// Backgrounds
.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}

.bg-light {
  background-color: darken($color-white, 5%);
}

.bg-salmon {
  background-color: $app-color-salmon;
}

.bg-lemon {
  background-color: $app-color-lemon;
}

// Colors
.color-black {
  color: $color-black;
}

.color-light {
  color: darken($color-white, 5%);
}

.color-white {
  color: $color-white;
}

.color-lemon {
  color: $app-color-lemon;
}

.color-salmon {
  color: $app-color-salmon;
}

.color-red {
  color: $app-color-red;
}
