// Variables
// ---------

// Default colors
$color-white: #fff;
$color-black: #000;

// Social colors
$color-facebook: #3c5a9a;
$color-twitter: #55acee;
$color-spotify: #2ebd59;
$color-instagram: #2b5c84;
$color-google-plus: #d73d32;
$color-vine: #00bf8f;
$color-youtube: #cc181e;
$color-pinterest: #bd2126;
$color-linkedin: #0177B5;

// Custom colors
$app-color-salmon: #c1a285;
$app-color-salmon-darken: #514840;
$app-color-gray: #4a4a4a;
$app-color-black: #262626;
$app-color-lemon: #7ed321;
$app-color-red: #bd2126;

// Font awesome path
$fa-font-path: "assets/fonts" !default;

// Project paths
$var-path-assets: '.' !default;
