// Button
// ------

.btn {
  transition: background ease .2s;
}

.btn-primary {
  padding-right: pem(20);
  padding-left: pem(20);
  font-size: pem(20);
  font-weight: bold;
}

.btn-sm {
  font-size: 0.875rem;
}

.btn-xs {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-gray {
  padding-right: pem(20);
  padding-left: pem(20);
  font-size: pem(20);
  font-weight: bold;
  background-color: lighten($app-color-black, 60%);
}
