// Button Social
// --------------

.btn-social-icon {
  @include fa-icon;
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: $color-white;
  width: 35px;
  text-align: center;
  height: 35px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 2.2;
  border-radius: 5px;
  text-decoration: none;
  transition: all ease 0.3s;

  &:hover {
    color: $color-white;
    opacity: 0.8;
    text-decoration: none;
  }
}

.btn-social {
  position: relative;
  display: inline-block;
  color: $color-white;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  line-height: 1.8;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 3em;
  transition: all ease .3s;

  &:before {
    @include fa-icon;
    position: absolute;
    margin-right: 5px;
    font-size: 22px;
    top: pem(7);
    margin-left: -30px;
  }
}

.btn-facebook {
  background-color: $color-facebook;

  &:before {
    content: $fa-var-facebook;
  }

  &:active,
  &:hover {
    background-color: saturate($color-facebook, 20%);
    color: $color-white;
  }
}

.btn-twitter {
  background-color: $color-twitter;

  &:before {
    content: $fa-var-twitter;
  }
}

.btn-instagram {
  background-color: $color-instagram;

  &:before {
    content: $fa-var-instagram;
  }
}

.btn-google-plus {
  background-color: $color-google-plus;

  &:before {
    content: $fa-var-google-plus;
  }
}

.btn-vine {
  background-color: $color-vine;

  &:before {
    content: $fa-var-vine;
  }
}

.btn-youtube {
  background-color: $color-youtube;

  &:before {
    content: $fa-var-youtube;
  }
}

.btn-pinterest {
  background-color: $color-pinterest;

  &:before {
    content: $fa-var-pinterest;
  }
}

.btn-linkedin {
  background-color: $color-linkedin;

  &:before {
    content: $fa-var-linkedin;
  }
}
