// Custom checkbox

.checkbox {
  margin-bottom: 1em;

  .validation-invalid {
    position: absolute;
    bottom: -1.4em;
  }

  input[type="checkbox"] {
    @extend .invisible;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:checked ~ label {
      border-color: $app-color-salmon;
      color: darken($app-color-salmon, 20%);

      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .chkbox {
    @include square(18px);
    position: relative;
    display: inline-block;
    padding: 0;
    border: solid 1px lighten($app-color-gray, 30%);
    border-radius: 2px;
    margin-top: 2px;
    vertical-align: top;
    position: absolute;
    float:left;

    &:after {
      @include fa-icon;
      position: absolute;
      font-weight: 300;
      content: $fa-var-check;
      color: $app-color-salmon;
      left: 2px;
      top: -2px;
      opacity: 0;
      font-size: 19px;
      transform: scale(.8);
      transition: transform .2s ease, opacity .2s ease;
    }
  }

  .chkbox-label {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 5px;
    transition: color .2s ease;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;
    margin-left: 1.5em;

    &:hover {
      color: darken($app-color-salmon, 20%);
    }
  }
}
